table, th, td {
    border: 1px solid white;
    text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr:nth-child(even) {
  background-color: darkblue;
}

tr:nth-child(odd) {
  background-color: darkgreen;
}

th {
  background-color: red;
  cursor: pointer
}

td {
  height: 60px;
}

.cellInput {
  width: 90%;
}

img {
    overflow: hidden;
    border: 3px solid white;
  
    display: block;
    margin: 0 auto;

    width: 95%;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
  
img:hover {
  transform: scale(1.15);
}